<a href="https://colab.research.google.com/github/ibshafique/mlops_with_poridhi/blob/main/prerequisite_projects/Titanic_Project/project_titanic_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div style="text-align: center;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Titanic_voyage_map.png" alt="Titanic Journey" width="1900"/>
    <p><em>Journey OF Titanic</em></p>
</div>

# Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Data Import

links for datasets from github repository

In [2]:
train_url = 'https://raw.githubusercontent.com/ibshafique/mlops_with_poridhi/refs/heads/main/prerequisite_projects/Titanic_Project/dataset/train.csv'
test_url = 'https://raw.githubusercontent.com/ibshafique/mlops_with_poridhi/refs/heads/main/prerequisite_projects/Titanic_Project/dataset/test.csv'

 # Data Insights

loading the datasets into pandas dataframe and setting display options for dataframes

In [3]:
#loading the datasets into pandas dataframe
train_df = pd.read_csv(train_url)
test_df = pd.read_csv(test_url)

#setting some display
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

Looking into the first 5 samples of each datasets

In [4]:
print("train_dataframe:")
print(train_df.head())
print()

print("train_dataframe:")
print(test_df.head())

train_dataframe:
   PassengerId  Survived  Pclass                                               Name     Sex   Age  \
0            1         0       3                            Braund, Mr. Owen Harris    male  22.0
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2            3         1       3                             Heikkinen, Miss. Laina  female  26.0
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4            5         0       3                           Allen, Mr. William Henry    male  35.0

   SibSp  Parch            Ticket     Fare Cabin Embarked
0      1      0         A/5 21171   7.2500   NaN        S
1      1      0          PC 17599  71.2833   C85        C
2      0      0  STON/O2. 3101282   7.9250   NaN        S
3      1      0            113803  53.1000  C123        S
4      0      0            373450   8.0500   NaN        S

train_dataframe:
   PassengerId  Pclass                                          Name     Sex   Age  SibSp  Parch  \
0          892       3                              Kelly, Mr. James    male  34.5      0      0
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2          894       2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3          895       3                              Wirz, Mr. Albert    male  27.0      0      0
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

getting statistical information about the datasets

In [5]:
print("train_dataframe:")
print(train_df.describe())
print()

print("test_dataframe:")
print(test_df.describe())

train_dataframe:
       PassengerId    Survived      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

test_dataframe:
       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

looking into the type of data of each columns of the dataframes and their missing values

In [6]:
print("train_dataframe:")
print(train_df.info())
print()

print("test_dataframe:")
print(test_df.info())

train_dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

test_dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

finding out the number of missing values in each colums

In [7]:
print("train_df:")
print(train_df.isnull().sum())
print()

print("test_df:")
print(test_df.isnull().sum())

train_df:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

test_df:
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

## Data Visualization

In [21]:
print(train_df[['Pclass', 'Survived']].groupby('Pclass').mean())
print(train_df[['Sex', 'Survived']].groupby('Sex').mean())

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363
        Survived
Sex
female  0.742038
male    0.188908