<a href="https://colab.research.google.com/github/ibshafique/mlops_with_poridhi/blob/main/prerequisite_projects/Titanic_Project/project_titanic_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div style="text-align: center;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Titanic_voyage_map.png" alt="Titanic Journey" width="1900"/>
    <p><em>Journey OF Titanic</em></p>
</div>

# Import Libraries

The required libraries are loaded here

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Data Import

The train.csv and test.csv files are loaded into the notebook from the GitHub Repository.

In [2]:
train_url = 'https://raw.githubusercontent.com/ibshafique/mlops_with_poridhi/refs/heads/main/prerequisite_projects/Titanic_Project/dataset/train.csv'
test_url = 'https://raw.githubusercontent.com/ibshafique/mlops_with_poridhi/refs/heads/main/prerequisite_projects/Titanic_Project/dataset/test.csv'

#loading the datasets into pandas dataframe
train_df = pd.read_csv(train_url)
test_df = pd.read_csv(test_url)

#setting some display
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

# Data Insights

Looking into the first 5 samples of each datasets

In [4]:
print("train_dataframe:")
train_df.head()

train_dataframe:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

getting statistical information about the datasets

In [5]:
print("train_dataframe:")
train_df.describe()

train_dataframe:

       PassengerId    Survived      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

looking into the type of data of each columns of the dataframes and their missing values

In [6]:
print("train_dataframe:")
print(train_df.info())
print()

print("test_dataframe:")
print(test_df.info())

train_dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

test_dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

finding out the number of missing values in each colums

In [7]:
print("train_df:")
print(train_df.isnull().sum())
print()

print("test_df:")
print(test_df.isnull().sum())

train_df:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

test_df:
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

# Data Cleaning

## Filling Missing 'Age' Values With Mean
We can see that the 'Age' column has a lot of missing data.

It might be a good idea to fill up the missing data with the mean of the total age.

In [10]:
print("viewing some information about 'Age' column in train_df")
print(train_df['Age'].describe())
print()

print("viewing some information about 'Age' column in test_df")
print(test_df['Age'].describe())
print()

#replacing the missing Age values in the two dataframes with the mean.
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].mean())
test_df['Age'] = test_df['Age'].fillna(test_df['Age'].mean())

print("train_df:")
print(train_df.isnull().sum())
print()

print("test_df:")
print(test_df.isnull().sum())

viewing some information about 'Age' column in train_df
count    891.000000
mean      29.699118
std       13.002015
min        0.420000
25%       22.000000
50%       29.699118
75%       35.000000
max       80.000000
Name: Age, dtype: float64

viewing some information about 'Age' column in test_df
count    418.000000
mean      30.272590
std       12.634534
min        0.170000
25%       23.000000
50%       30.272590
75%       35.750000
max       76.000000
Name: Age, dtype: float64

train_df:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

test_df:
PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

## Dropping The 'Cabin' Column
A lot of data is also missing in the 'Cabin' column.
We may want to drop this column in both dataframes.

In [13]:
train_df = train_df.drop(columns=['Cabin'])
test_df = test_df.drop(columns=['Cabin'])

print("train_df:")
print(train_df.isnull().sum())
print()

print("test_df:")
print(test_df.isnull().sum())

train_df:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

test_df:
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Embarked       0
dtype: int64

## Filling Missing 'Embarked' Values with Mode

We that only two values are missing for 'Embarked' column.
We will replace it with the mode (max frequency) value.

In [27]:
print("viewing information about 'Embarked' column")
print(train_df['Embarked'].describe())
print()

print("viewing frequency count of each values of the 'Embarked' column")
print(train_df['Embarked'].value_counts())


train_df['Embarked'] = train_df['Embarked'].fillna((train_df['Embarked'].mode()[0]))
print()

print("train_df:")
print(train_df.isnull().sum())
print()

print("test_df:")
print(test_df.isnull().sum())

viewing information about 'Embarked' column
count     891
unique      3
top         S
freq      646
Name: Embarked, dtype: object

viewing frequency count of each values of the 'Embarked' column
Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

train_df:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

test_df:
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Embarked       0
dtype: int64

## Filling missing 'Fare' Columns With Mean

Similarly, we will replace the missing value of 'Fare' colum with the mean.

In [29]:
test_df['Fare'] = test_df['Fare'].fillna(test_df['Fare'].mean())
print()

print("train_df:")
print(train_df.isnull().sum())
print()

print("test_df:")
print(test_df.isnull().sum())

train_df:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

test_df:
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

# Feature Engineering

In [30]:
train_df.head(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,S
5,6,0,3,"Moran, Mr. James",male,29.699118,0,0,330877,8.4583,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1,1,PP 9549,16.7000,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.000000,0,0,113783,26.5500,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.000000,0,0,A/5. 2151,8.0500,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.000000,1,5,347082,31.2750,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0,0,350406,7.8542,S

# Test

In [9]:
print(train_df[['Pclass', 'Survived']].groupby('Pclass').mean())
print(train_df[['Sex', 'Survived']].groupby('Sex').mean())

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363
        Survived
Sex
female  0.742038
male    0.188908