<a href="https://colab.research.google.com/github/ibshafique/mlops_with_poridhi/blob/main/prerequisite_projects/WQU_DS/02_housing_in_buenos_aires/buenos_aires_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Prerequisites

##Importing relevant libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

##Importing the datasets

In [ ]:
url_1 = "https://raw.githubusercontent.com/ibshafique/mlops_with_poridhi/refs/heads/main/prerequisite_projects/WQU_DS/02_housing_in_buenos_aires/dataset/buenos-aires-real-estate-1.csv"
url_2 = "https://raw.githubusercontent.com/ibshafique/mlops_with_poridhi/refs/heads/main/prerequisite_projects/WQU_DS/02_housing_in_buenos_aires/dataset/buenos-aires-real-estate-2.csv"
url_3 = "https://raw.githubusercontent.com/ibshafique/mlops_with_poridhi/refs/heads/main/prerequisite_projects/WQU_DS/02_housing_in_buenos_aires/dataset/buenos-aires-real-estate-3.csv"
url_4 = "https://raw.githubusercontent.com/ibshafique/mlops_with_poridhi/refs/heads/main/prerequisite_projects/WQU_DS/02_housing_in_buenos_aires/dataset/buenos-aires-real-estate-4.csv"

In [ ]:
df1 = pd.read_csv(url_1)
df2 = pd.read_csv(url_2)
df3 = pd.read_csv(url_3)
df4 = pd.read_csv(url_4)

#Data Insights

##Dataframe1

In [ ]:
df1.head()

,operation,property_type,place_with_parent_names,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url
0,sell,apartment,|Argentina|Capital Federal|Villa Crespo|,"-34.6047834183,-58.4586812499",180000.0,USD,2729232.0,180000.0,120.0,110.0,1500.000000,1636.363636,NaN,4.0,NaN,http://villa-crespo.properati.com.ar/12egq_ven...
1,sell,house,|Argentina|Bs.As. G.B.A. Zona Oeste|La Matanza...,NaN,250000.0,USD,3790600.0,250000.0,117.0,120.0,2136.752137,2083.333333,NaN,4.0,NaN,http://ramos-mejia.properati.com.ar/s7pd_venta...
2,sell,house,|Argentina|Bs.As. G.B.A. Zona Oeste|Morón|Cast...,"-34.6497002,-58.658073",410000.0,USD,6216584.0,410000.0,410.0,220.0,1000.000000,1863.636364,NaN,NaN,NaN,http://castelar-moron.properati.com.ar/11vgn_v...
3,sell,house,|Argentina|Bs.As. G.B.A. Zona Oeste|Tres de Fe...,"-34.5957086,-58.5669503",180000.0,USD,2729232.0,180000.0,200.0,135.0,900.000000,1333.333333,NaN,5.0,NaN,http://tres-de-febrero.properati.com.ar/7f7u_v...
4,sell,apartment,|Argentina|Capital Federal|Chacarita|,"-34.5846508988,-58.4546932614",129000.0,USD,1955949.6,129000.0,76.0,70.0,1697.368421,1842.857143,NaN,NaN,NaN,http://chacarita.properati.com.ar/10qlv_venta_...

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8606 entries, 0 to 8605
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   operation                   8606 non-null   object
 1   property_type               8606 non-null   object
 2   place_with_parent_names     8606 non-null   object
 3   lat-lon                     6936 non-null   object
 4   price                       7590 non-null   float64
 5   currency                    7590 non-null   object
 6   price_aprox_local_currency  7590 non-null   float64
 7   price_aprox_usd             7590 non-null   float64
 8   surface_total_in_m2         5946 non-null   float64
 9   surface_covered_in_m2       7268 non-null   float64
 10  price_usd_per_m2            4895 non-null   float64
 11  price_per_m2                6520 non-null   float64
 12  floor                       1259 non-null   float64
 13  rooms                       4752 non-null   float64
 14  expenses                    875 non-null    float64
 15  properati_url               8606 non-null   object
dtypes: float64(10), object(6)
memory usage: 1.1+ MB

##Dataframe2

In [ ]:
df2.head()

,operation,property_type,place_with_parent_names,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url
0,sell,PH,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Tigre|,"-34.4281108,-58.5728848",160000.0,USD,2425984.0,160000.0,169.0,77.0,946.745562,2077.922078,NaN,NaN,NaN,http://tigre.properati.com.ar/i4rw_venta_depar...
1,sell,house,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Bena...,NaN,270000.0,USD,4093848.0,270000.0,790.0,221.0,341.772152,1221.719457,NaN,NaN,NaN,http://benavidez.properati.com.ar/n4go_venta_c...
2,sell,apartment,|Argentina|Capital Federal|Recoleta|,"-34.5889927,-58.4001326",215000.0,USD,3259916.0,215000.0,40.0,35.0,5375.000000,6142.857143,NaN,1.0,3500.0,http://recoleta.properati.com.ar/12j4v_venta_d...
3,sell,house,|Argentina|Bs.As. G.B.A. Zona Oeste|Tres de Fe...,"-34.5879654,-58.5862179",NaN,NaN,NaN,NaN,277.0,113.0,NaN,NaN,NaN,4.0,NaN,http://tres-de-febrero.properati.com.ar/um5c_v...
4,sell,apartment,|Argentina|Bs.As. G.B.A. Zona Oeste|Tres de Fe...,"-34.5995115,-58.5538716",90000.0,USD,1364616.0,90000.0,200.0,90.0,450.000000,1000.000000,NaN,3.0,NaN,http://tres-de-febrero.properati.com.ar/10yhb_...

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8606 entries, 0 to 8605
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   operation                   8606 non-null   object
 1   property_type               8606 non-null   object
 2   place_with_parent_names     8606 non-null   object
 3   lat-lon                     6950 non-null   object
 4   price                       7611 non-null   float64
 5   currency                    7611 non-null   object
 6   price_aprox_local_currency  7611 non-null   float64
 7   price_aprox_usd             7611 non-null   float64
 8   surface_total_in_m2         5958 non-null   float64
 9   surface_covered_in_m2       7293 non-null   float64
 10  price_usd_per_m2            4852 non-null   float64
 11  price_per_m2                6532 non-null   float64
 12  floor                       1339 non-null   float64
 13  rooms                       4772 non-null   float64
 14  expenses                    901 non-null    float64
 15  properati_url               8606 non-null   object
dtypes: float64(10), object(6)
memory usage: 1.1+ MB

##Dataframe3

In [ ]:
df3.head()

In [ ]:
df3.info()

Dataframe4

#Preprocessing

#Concatenating the Dataframes

In [ ]:
files = glob("data/buenos-aires-real-estate-*.csv")

the wrangle function

In [ ]:
def wrangle(filepath):
    # Read CSV file
    df = pd.read_csv(filepath)

    # Subset data: Apartments in "Capital Federal", less than 400,000
    mask_ba = df["place_with_parent_names"].str.contains("Capital Federal")
    mask_apt = df["property_type"] == "apartment"
    mask_price = df["price_aprox_usd"] < 400_000
    df = df[mask_ba & mask_apt & mask_price]

    # Subset data: Remove outliers for "surface_covered_in_m2"
    low, high = df["surface_covered_in_m2"].quantile([0.1, 0.9])
    mask_area = df["surface_covered_in_m2"].between(low, high)
    df = df[mask_area]

    # Split "lat-lon" column
    df[["lat", "lon"]] = df["lat-lon"].str.split(",", expand=True).astype(float)
    df.drop(columns="lat-lon", inplace=True)

    # Extract neighborhood
    df["neighborhood"] = df["place_with_parent_names"].str.split('|', expand=True)[3]
    df.drop(columns="place_with_parent_names", inplace=True)

    return df